<html>
	<head>
	</head>
	<body>
		<form id="upload" action="/uploads/create"
		       enctype="multipart/form-data"
		       method="post">
			<input type="file" id="image_file" name="image_file">
			<input type="text" id="image_caption" name="image_caption">
			<input type="text" id="image_description" name="image_description">
			<input type="submit" value="Upload">
		</form>
	</body>
</html>